textarea,
input.my-input:not([type="image" i], [type="radio" i], [type="button" i], [type="checkbox" i]) {
  display: block;
  box-sizing: border-box;
  width: 100%;
}

.margin-5 * {
  margin: 5px;
}

input.my-input:read-only {
  color: gray;
  font-style: italic;
}

input.my-input,
textarea.my-input {
  margin: 5px 0px 10px 0px;
  padding: 5px;
  border-style: solid;
  border-color: var(--color-primary);
}

input.my-input:focus-visible,
textarea.my-input:focus-visible {
  outline: unset;
  box-shadow: 0px 2px 2px var(--color-primary);
  background-color: var(--color-primary-fade-10);
}

input.my-input[type=checkbox] {
  accent-color: var(--color-primary);
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.my-fieldset {
  margin: 10px 0px 10px 0px;
  border-style: solid;
  border-color: var(--color-primary);
  border-radius: 5px;
  box-shadow: 0px 1px 1px var(--color-primary);
}

.sticky-bottom {
  position: sticky;
  bottom: 0px;
  background-color: var(--color-accent);
}