details.expansion-panel summary + div {
  padding: 5px;
}

details.expansion-panel {
  border: 1px solid #aaa;
  border-radius: 4px;
}

details.expansion-panel summary {
  height: 18vmax;
  background-size: cover;
  background-position: center;
  background-clip: content-box;
  display: flex;
  align-items: flex-end;

  transition: margin 150ms ease-out;
}

details[open].expansion-panel summary {
  margin-bottom: 10px;
}

.the-oath {
  background-image: 
    linear-gradient(to left, var(--color-accent-transparent) 20%,var(--color-accent)),
    url('../images/the-oath-zoom.jpg');
}

.hand-shake {
  background-image: 
    linear-gradient(to left, var(--color-accent-transparent) 20%,var(--color-accent)),
    url('../images/hand-shake.jpg');
}

.hand-keyboard {
  background-image: 
    linear-gradient(to left, var(--color-accent-transparent) 20%,var(--color-accent)),
    url('../images/hand-keyboard.jpg');
}