/* TODO : Checkbox and range are ugly */
input.my-input:not([type="image" i], [type="radio" i], [type="button" i], [type="checkbox" i]) {
  display: block;
  box-sizing: border-box;
  width: 100%;
}

.space-children-100 * {
  margin: 5px;
}

input.my-input:read-only {
  color: gray;
  font-style: italic;
}

input.my-input,
textarea.my-input {
  margin: 5px 0px 10px 0px;
  padding: 5px;
  border-style: solid;
  border-color: var(--color-primary);
  background-color: var(--color-primary-fade-10);
}

input.my-input:focus-visible,
textarea.my-input:focus-visible {
  outline: unset;
  box-shadow: 0px 5px 5px var(--color-primary);
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.fill-space {
  flex: 1;
}

.my-fieldset {
  margin: 10px 0px 10px 0px;
  border-style: solid;
  border-color: var(--color-primary);
  border-radius: 5px;
  box-shadow: 0px 5px 5px var(--color-primary);
}