body {
  font-family: var(--font-primary);
  /* background-color: var(--color-primary-fade-10); */
}

::selection {
  color: var(--color-accent);
  background-color: var(--color-primary);
}

@media (orientation: landscape) {
  body {
    max-width: 80vw;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (orientation: portrait) {
  body {
    max-width: 90vw;
    margin-right: auto;
    margin-left: auto;
  }
}