.btn {
  text-decoration: none;
  padding: 5px;
  cursor: pointer;
  border-width: 1px;
  border-radius: 1px;
}

li a.btn {
  padding: 0px;
}

.btn-icon {
  padding: 2px;
  border: none;
}

.btn-primary {
  color: var(--color-accent);
  background-color: var(--color-primary);
  border-color: var(--color-accent);
}

.btn-accent {
  color: var(--color-primary);
  background-color: unset;
  border-color: var(--color-primary);
}

.fixed-save-btn {
  transition: width 0.5s, height 0.5s;
  display: block;
  position: fixed;
  bottom: 5px;
  right: 5px;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-image: url(../images/floppy-disk.svg);
  background-size: contain;
  background-origin: content-box;
}

.fixed-save-btn:hover {
  transition: width 0.5s, height 0.5s;
  width: 45px;
  height: 45px;
}