.btn {
  text-decoration: none;
  padding: 5px;
  cursor: pointer;
  border-width: 1px;
  border-radius: 1px;
}

li a.btn {
  padding: 0px;
}

.btn-icon {
  padding: 2px;
  border: none;
}

.btn-primary {
  color: var(--color-accent);
  background-color: var(--color-primary);
  border-color: var(--color-accent);
}

.btn-accent {
  color: var(--color-primary);
  background-color: unset;
  border-color: var(--color-primary);
}