.my-vertical-range {
  display: flex;
}

input[type="range"] {
  accent-color: var(--color-primary);
}

.my-vertical-range input[type="range"] {
  writing-mode: vertical-lr;
  width: unset; /* Do not want width to be 100%, want to use default value */
  margin: initial;
  padding: initial;
}

.my-vertical-range datalist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reverse.my-vertical-range input[type="range"] {
  direction: rtl;
}

.reverse.my-vertical-range datalist {
  flex-direction: column-reverse;
}

@media (orientation: portrait) {
  input[type="range"] + output {
      display: block;
  }
}

@media (orientation: landscape) {
  input[type="range"] + output {
      display: inline-block;
  }
}