:root {
  color-scheme: light dark;

  --color-primary: light-dark(mediumaquamarine, mediumaquamarine);
  --color-accent: light-dark(white, black);
  --color-accent-transparent: light-dark(rgba(255,255,255,0), rgba(0,0,0,0));
  --color-accent-100: light-dark(whitesmoke, dimgrey);
  --color-warn: firebrick;
}

body,
select,
textarea {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-accent);
}

::selection {
  color: var(--color-accent);
  background-color: var(--color-primary);
}

@media (orientation: landscape) {
  body {
    max-width: 80vw;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (orientation: portrait) {
  body {
    max-width: 90vw;
    margin-right: auto;
    margin-left: auto;
  }
}