body {
  font-family: var(--font-primary);
  background-image: linear-gradient(to top left, var(--color-primary-fade-20) 02%, var(--color-primary-fade-00));
}

::selection {
  color: var(--color-accent);
  background-color: var(--color-primary);
}

@media (orientation: landscape) {
  body {
    max-width: 80vw;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (orientation: portrait) {
  body {
    max-width: 90vw;
    margin-right: auto;
    margin-left: auto;
  }
}