<!DOCTYPE html>
<html lang="en-US">

<head>
  <title>MattKuhn123</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./styles.css">
  <script src="https://unpkg.com/htmx.org@2.0.3"
    integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
    crossorigin="anonymous"></script>
</head>

<body>
  <nav class="my-nav">
    <section>
      <a class="btn btn-primary" href="https://github.com/MattKuhn123">Github</a>
      <select hx-get="" hx-target="main" hx-on::config-request="event.detail.path = this.value" aria-label="pages list" name="pages-list" class="btn btn-primary">
        <option class="btn btn-accent" value="/home.html">Home</option>
        <option class="btn btn-accent" value="/pages/cost-benefit-analysis.html">Cost/Benefit</option>
      </select>
    </section>
    <span class="txt-primary">MattKuhn123</span>
  </nav>

  <main hx-trigger="load" hx-get="/home.html">
  </main>

  <footer class="my-footer">
    <span class="txt-primary">MattKuhn123</span>
  </footer>
</body>

</html>