:root {
    --color-primary: mediumaquamarine;
    --color-accent: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-accent);
    max-width: 80vw;
    margin-right: auto;
    margin-left: auto;
}

::selection {
    color: var(--color-accent);
    background-color: var(--color-primary);
}

::backdrop {
    backdrop-filter: blur(3px);
}

:popover-open {
    max-width: 50vw;
    padding: 15px;
    border-color: var(--color-primary);
}

.blog-date {
    float: right;
}

.blog-post {
    padding: 10px;
    border: 1px solid black;
    border-radius: 2px;
}

details summary {
    cursor: pointer;
}

details summary~* {
    transition: opacity 250ms ease-out;
    opacity: 0;
}

details[open] summary~* {
    opacity: 100;
}

output {
    display: inline-block;
}

@media (orientation: portrait) {
    input {
        display: block;
    }
}

.my-summary {
    display: flex;
    justify-content: space-between;
}

.my-fieldset {
    margin-top: 5px;
    margin-bottom: 5px;
}

.txt-primary {
    color: var(--color-primary);
    background-color: unset;
    font-weight: bold;
}

.txt-accent {
    color: var(--color-accent);
    background-color: var(--color-primary);
}

.txt-padding {
    padding: 5px;
}

.txt-break {
    display: block;
    margin-top: 2px;
    margin-bottom: 2px;
}

.btn {
    padding: 5px;
    border: 1px;
}

.btn-primary {
    color: var(--color-accent);
    background-color: var(--color-primary);
}

.btn-accent {
    color: var(--color-primary);
    background-color: var(--color-accent);
}

.full-width {
    width: 100%;
}