@media (orientation: portrait) {
  input:not([type="image" i], [type="range" i], [type="radio" i], [type="button" i]) {
    display: block;
  }
}

.space-children-100 * {
  margin: 5px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}