[role="tooltip"] {
  visibility: hidden;
  position: absolute;
  padding: 2px;
  top: 2rem;
  left: 2rem;
  color: var(--color-accent);
  background-color: var(--color-primary);
  /* TODO : tooltip width */
  width: calc-size(max-content, size / 2);
  max-width: calc-size(max-content, size / 2);
  border-style: solid;
  border-width: 2px;
  border-color: black;
}
[aria-describedby]:hover,
[aria-describedby]:focus {
  position: relative;
}
[aria-describedby]:hover  [role="tooltip"],
[aria-describedby]:focus  [role="tooltip"] {
  visibility: visible;
}
